<div class="marker">
  <p><%= text %></p>
  <img src="<%= user.profile_image_url %>" />
  <div class="marker-meta">
    <span class="handle label label-info"><a href="http://www.twitter.com/<%= user.screen_name %>"><%= user.name %></a></span>
    <span class="posted"><%= relative_time %></span>
  </div>
</div>
