<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Crowdsource Crisis</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'custom' %>
  <%= stylesheet_link_tag 'http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css' %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js" rel="stylesheet">
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
